In [1]:
import pandas as pd

In [4]:
dataset=pd.read_csv(r'C:\Users\SAMIA DAWOOD\OneDrive\Desktop\Social_Network_Ads (1).csv')

In [5]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [8]:
x=dataset.iloc[:,[1,2,3]].values

In [9]:
x

array([['Male', 19, 19000],
       ['Male', 35, 20000],
       ['Female', 26, 43000],
       ...,
       ['Female', 50, 20000],
       ['Male', 36, 33000],
       ['Female', 49, 36000]], dtype=object)

In [10]:
y=dataset.iloc[:,-1].values
y

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1], dtype=int64)

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le=LabelEncoder()

In [14]:
x[:,0]=le.fit_transform(x[:,0])

In [15]:
x

array([[1, 19, 19000],
       [1, 35, 20000],
       [0, 26, 43000],
       ...,
       [0, 50, 20000],
       [1, 36, 33000],
       [0, 49, 36000]], dtype=object)

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [20]:
len(x_train)

320

In [21]:
len(x_test)

80

In [22]:
len(y_train)

320

In [23]:
len(y_test)

80

In [24]:
from sklearn.naive_bayes import GaussianNB

In [25]:
model = GaussianNB()

In [26]:
model.fit(x_train,y_train)

GaussianNB()

In [27]:
model.predict(x_test)
#purchased 1,     not-purchased  0

array([1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1], dtype=int64)

In [28]:
x_test       # 1 for male, 0 for female

array([[1, 49, 28000],
       [0, 59, 42000],
       [0, 41, 71000],
       [0, 23, 82000],
       [1, 47, 23000],
       [0, 58, 47000],
       [0, 38, 112000],
       [1, 25, 33000],
       [0, 35, 72000],
       [0, 28, 55000],
       [0, 50, 36000],
       [1, 30, 107000],
       [1, 19, 76000],
       [1, 36, 60000],
       [1, 46, 59000],
       [1, 38, 71000],
       [1, 31, 58000],
       [0, 19, 26000],
       [1, 39, 96000],
       [1, 36, 144000],
       [0, 47, 51000],
       [0, 22, 27000],
       [1, 42, 65000],
       [0, 18, 44000],
       [0, 37, 62000],
       [1, 22, 81000],
       [0, 27, 57000],
       [1, 47, 25000],
       [0, 20, 82000],
       [1, 35, 88000],
       [0, 35, 77000],
       [0, 33, 51000],
       [0, 20, 36000],
       [0, 42, 108000],
       [0, 31, 89000],
       [1, 33, 43000],
       [1, 35, 22000],
       [0, 47, 49000],
       [0, 29, 83000],
       [0, 41, 60000],
       [0, 52, 138000],
       [0, 21, 16000],
       [1, 21, 88000],
       [0, 31, 34000],
       [0, 48, 30000],
       [1, 18, 82000],
       [0, 54, 108000],
       [1, 29, 80000],
       [0, 26, 72000],
       [0, 45, 131000],
       [1, 25, 87000],
       [0, 37, 71000],
       [1, 27, 20000],
       [1, 46, 88000],
       [1, 35, 75000],
       [1, 32, 18000],
       [1, 38, 59000],
       [0, 27, 84000],
       [1, 29, 43000],
       [1, 41, 45000],
       [1, 41, 59000],
       [0, 41, 30000],
       [1, 30, 135000],
       [0, 47, 47000],
       [1, 49, 28000],
       [1, 41, 52000],
       [1, 35, 108000],
       [0, 28, 59000],
       [0, 57, 122000],
       [0, 50, 88000],
       [0, 41, 72000],
       [0, 26, 15000],
       [1, 39, 77000],
       [1, 40, 107000],
       [1, 42, 65000],
       [0, 33, 28000],
       [1, 48, 141000],
       [0, 35, 65000],
       [1, 42, 54000],
       [0, 52, 38000]], dtype=object)

In [29]:
model.score(x_test,y_test)

0.925