In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("D:\\Universities Lectures\\NED Lectures\\Machine Learning Classes\\data.xlsx",
                    usecols=["input","output"])
data

   input  output
0      1       2
1      2       4
2      3       6
3      4       8
4      5      10
5      6      12
6      7      14
7      8      16
8      9      18
9     10      20

In [3]:
X, Y = data.input.values , data.output.values
print(X)
print(Y)

[ 1  2  3  4  5  6  7  8  9 10]
[ 2  4  6  8 10 12 14 16 18 20]

In [4]:
training_ratio = 80

In [5]:
print("Training Ratio, get index", int(len(data)*training_ratio/100))

Training Ratio, get index 8

In [6]:
X_train = X[ :int(len(data)*training_ratio/100)]#start-7index-1
Y_train = Y[ :int(len(data)*training_ratio/100)]#start-7index-1


X_test = X[int(len(data)*training_ratio/100): ]#7index - endindex
Y_test = Y[int(len(data)*training_ratio/100): ]#7index - endindex

print("Training X:",X_train,"Y:",Y_train)
print("Testing X",X_test,"Y",Y_test)

Training X: [1 2 3 4 5 6 7 8] Y: [ 2  4  6  8 10 12 14 16]
Testing X [ 9 10] Y [18 20]

data spliting for ML model (Ratio)
70% for training 30% for testing

80% for training 20% for testing

60% for training 40% for testing

60% for training, 20% validation, 20% for Testing




Train and test data distribution with sklearn library

In [7]:
data.head()

   input  output
0      1       2
1      2       4
2      3       6
3      4       8
4      5      10

In [8]:
X = data['input'].values
Y = data['output'].values

X

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

In [9]:
Y

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20], dtype=int64)

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
train_test_split(X,Y,
                test_size=0.3)

[array([ 3,  9,  1,  5, 10,  6,  2], dtype=int64),
 array([4, 8, 7], dtype=int64),
 array([ 6, 18,  2, 10, 20, 12,  4], dtype=int64),
 array([ 8, 16, 14], dtype=int64)]

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,
                                                    test_size=0.3, 
                                                    shuffle=False)

print(X_train)
print(X_test)
print(Y_train)
print(Y_test)

[1 2 3 4 5 6 7]
[ 8  9 10]
[ 2  4  6  8 10 12 14]
[16 18 20]

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,
                                                    test_size=0.3, 
                                                    shuffle=True)

print(X_train)
print(X_test)
print(Y_train)
print(Y_test)

[ 6 10  9  3  8  4  7]
[2 5 1]
[12 20 18  6 16  8 14]
[ 4 10  2]